<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>

    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <header>
      <h1>Find Your Adventure</h1>
    </header>
    <main>
      <section id="form">
        <form>
          <label for="destination">Destination</label>
          <input type="text" name="destination" placeholder="Where To?" />
          <label for="date">Date</label>
          <input type="date" name="date" id="" placeholder="YYYY / MM / DD" />
          <input type="submit" value="Get Started" />
          <input type="reset" value="Clear" />
        </form>
      </section>
      <section id="results">
        <div id="weather"></div>
      </section>
      <footer>
        <p>© 2021 Debora Durek - Udacity. All Rights Reserved.</p>
      </footer>
    </main>
  </body>
</html>
