<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="parent-ctn">
      <header>
        <!-- <h1>Find Your Adventure</h1> -->
      </header>
      <main>
        <div class="info-ctn">
          <section class="section-form">
            <h1>Find Your Adventure</h1>
            <form>
              <div class="input-group">
                <div class="input-ctn">
                  <label for="city">City of Destination</label>
                  <input type="text" id="city" name="city" placeholder="Vancouver" />
                </div>
                <div class="input-ctn">
                  <label for="country">Country Code</label>
                  <input type="text" id="country-code" name="country" placeholder="CA" />
                </div>
                <div class="input-ctn">
                  <label for="date">Departure Date</label>
                  <input type="date" id="date" name="date" required placeholder="YYYY / MM / DD" />
                </div>
              </div>
              <div class="input-btn-ctn">
                <input type="reset" value="Clear" class="input-btn reset" />
                <input type="submit" value="GET STARTED" class="input-btn submit" />
              </div>
            </form>
          </section>

          <section class="section-results">
            <div id="city-name"></div>
            <div id="country"></div>
            <div class="results-group">
              <div class="travel-date-ctn results-subgroup">
                <div id="travel-date-title" class="result"></div>
                <div id="travel-date" class="result"></div>
              </div>
              <div class="countdown-ctn results-subgroup">
                <div id="countdown" class="result"></div>
                <div id="countdown-title" class="result"></div>
              </div>
              <div class="result results-subgroup">
                <div id="temperature" class="result"></div>
                <div id="temperature-title" class="result"></div>
              </div>

              <div class="weather-description-ctn results-subgroup">
                <div id="weather-code" class="result"></div>
                <div id="weather-description" class="result"></div>
              </div>
              <div class="extra-info-ctn results-subgroup">
                <div id="humidity" class="result"></div>
                <div id="clouds" class="result"></div>
                <div id="wind-speed" class="result"></div>
              </div>
            </div>
            <img id="trip-image" src="" alt="" />
          </section>
        </div>
      </main>
      <footer>
        <!-- <p>© 2021 Debora Durek - Udacity. All Rights Reserved.</p> -->
      </footer>
    </div>
  </body>
</html>
