<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="parent-ctn">
      <div class="info-ctn">
        <!-- Header -->
        <header>
          <h1>Find Your Adventure</h1>
        </header>

        <!-- Form Section -->
        <section class="section-form">
          <form>
            <div class="input-text">
              <!-- City Input -->
              <div class="input-text-subgroup">
                <label for="city">City of Destination</label>
                <input type="text" id="city" name="city" required placeholder="Vancouver" />
              </div>
              <!-- Country Code Input -->
              <div class="input-text-subgroup">
                <label for="country">Country Code</label>
                <input type="text" id="country-code" name="country" placeholder="CA" />
              </div>
              <!-- Date Input -->
              <div class="input-text-subgroup">
                <label for="date">Departure Date</label>
                <input
                  type="date"
                  id="travelDate"
                  name="date"
                  required
                  placeholder="YYYY / MM / DD"
                />
              </div>
            </div>
            <!-- Buttons -->
            <div class="input-btn-ctn">
              <input type="reset" value="Clear" class="input-btn" />
              <input type="submit" value="GET STARTED" class="input-btn submit" />
            </div>
          </form>
        </section>

        <!-- Results Section -->
        <section class="section-results hidden">
          <!-- Place Names -->
          <span id="city-name" class="block"></span>
          <span id="country" class="block"></span>

          <!-- Weather Dashboard -->
          <div class="results-dashboard">
            <!-- Forecast Date -->
            <div class="results-subgroup">
              <img id="forecast-date-icon" src="" alt="" />
              <hr />
              <span id="forecast-date-title" class="result block"></span>
              <span id="forecast-date" class="result block"></span>
            </div>

            <!-- Countdown -->
            <div class="results-subgroup">
              <img id="countdown-icon" src="" alt="" />
              <hr />
              <span id="countdown" class="result block"></span>
              <span id="countdown-text" class="result"></span>
            </div>

            <!-- Current Temperature -->
            <div class="results-subgroup temperature-ctn">
              <img id="temperature-icon" src="" alt="" />
              <hr />
              <span id="temperature" class="result"></span>
            </div>

            <!-- Weather Description -->
            <div class="results-subgroup weather-description-ctn">
              <img id="weather-icon0" src="" alt="" />
              <hr />
              <img id="weather-icon" class="result block" src="" alt="" />
              <span id="weather-description" class="result block"></span>
            </div>

            <!-- Extra Info -->
            <div class="results-subgroup">
              <img id="extra-icon" src="" alt="" />
              <hr />
              <div class="extra-info-subgroup">
                <img id="humidity-icon" class="extra-info-icon" src="" alt="" />
                <span id="humidity" class="result"></span>
              </div>
              <div class="extra-info-subgroup">
                <img id="clouds-icon" class="extra-info-icon" src="" alt="" />
                <span id="clouds" class="result"></span>
              </div>
              <div class="extra-info-subgroup">
                <img id="wind-icon" class="extra-info-icon" src="" alt="" />
                <span id="wind-speed" class="result"></span>
              </div>
              <div class="extra-info-subgroup">
                <img id="wind-dir-icon" class="extra-info-icon" src="" alt="" />
                <span id="wind-dir" class="result"></span>
              </div>
            </div>
          </div>

          <!-- Weather Summary -->
          <div id="results-summary"></div>

          <!-- City/Country Image -->
          <div class="image-ctn">
            <img id="trip-image" src="" alt="" />
          </div>
        </section>

        <!-- Footer -->
        <footer>
          <a href="https://pixabay.com/"
            ><img src="./src/client/media/pixabay-logo.svg" alt=""
          /></a>
          <p>
            Icons made by
            <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs"
              >DinosoftLabs</a
            >
            from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
          </p>
          <p class="main-footer">© 2021 Debora Durek - Udacity. All Rights Reserved.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
