/* Start
// Variables */

// Fonts
$font-main-text: 'Laila', sans-serif;
$font-handwriting: 'Pacifico', cursive;

// Colours
$main-color-blue: #132743;
$secondary-color-orange: #edc988;
$secondary-color-pink: #d7385e;
$color-darkpink: #9e1d3b;
$flat-color-gray: #999;
$background-rgba-color: rgba(255, 251, 240, 0.85);
$offwhite-color: #fffbf0;
$shadow-on-background: #dbd8ce;

/* End */

// Base
body {
  margin: 0;
  font-family: $font-main-text;
  color: $main-color-blue;
  background-color: $secondary-color-orange;
}

h1 {
  margin: 0;
  text-align: center;
  color: $color-darkpink;
}

a {
  text-decoration: none;
  color: $flat-color-gray;
}

label {
  font-weight: 500;
  display: block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
