body {
  margin: 0;
  font-family: 'Laila', sans-serif;
  color: #132743;
  background-color: #edc988;
}

h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  color: #9e1d3b;
}

a {
  text-decoration: none;
  color: #999;
}

label {
  font-weight: 500;
  display: block;
}

hr {
  border: 0;
  border-top: 1px solid #edc988;
  margin: 20px auto 30px;
  width: 90%;
}
