.parent-ctn {
  min-height: 100vh;
  background: url('../media/bckg-img-arches-national-park.jpg') no-repeat fixed 0 -150px;
  background-size: cover;
  display: grid;
  grid-template-columns: 35% 1fr;
}

.info-ctn {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $background-rgba-color;
  padding: 30px 50px;
  grid-column: 2;
}
