body {
  margin: 0;
  font-family: 'Laila', sans-serif;
  color: #132743;
}

h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.parent-ctn {
  min-height: 100vh;
  background-image: url('../media/bckg-img-arches-national-park.jpg');
  background-position: 0 -340px;
  background-repeat: no-repeat;
  background-size: 120%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
  grid-template-columns: 40% 1fr;
  // justify-content: flex-end;
  // align-items: center;
}

.info-ctn {
  background-color: rgba(255, 251, 240, 0.85);
  max-width: 800px;
  padding: 30px 50px;
}

// .section-form {
//   text-align: center;
// }

.input-group {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 24px;
}

.input-ctn {
  text-align: left;
}

// .input-ctn:not(:last-child) {
//   padding-right: 20px;
// }

label {
  font-weight: 500;
  display: block;
}

.input-ctn input {
  font-family: 'Laila', sans-serif;
  font-size: 15px;
  padding: 11px 12px;
  width: 250px;
  height: 20px;
  border-radius: 12px;
  border: 2px solid #edc988;
}

#country-code {
  width: 80px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #bbb;
}

input[type='date']:invalid::-webkit-datetime-edit {
  color: #bbb;
}

.input-btn-ctn {
  display: flex;
  justify-content: space-between;
}

.input-btn {
  padding: 10px;
  width: 150px;
  font-family: 'Laila', sans-serif;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  background-color: #d7385e;
  color: #fffbf0;
}

.submit {
  min-width: 40vw;
  margin-left: 40px;
}

// .input-btn:not(:last-child) {
//   margin-right: 30px;
// }

.input-btn:hover {
  background-color: #9e1d3b;
}

footer {
  text-align: center;
}
