// Fonts
$font-main-text: 'Laila', sans-serif;
$font-handwriting: 'Pacifico', cursive;

// Colours
$main-color-blue: #132743;
$secondary-color-orange: #edc988;
$secondary-color-pink: #d7385e;
$color-darkpink: #9e1d3b;
$flat-color-gray: #999;
$background-rgba-color: rgba(255, 251, 240, 0.85);
$text-color-offwhite: #fffbf0;
$shadow-on-background: #dbd8ce;
